<td style="text-align: left">
    <label id="thingname"><%- name %></label>
    <input id="editname" value="<%- name %>">
</td>
<td style="text-align: right">
    <button id="deletething" class="btn btn-danger">Delete</button>
</td> 
