<h1>Things</h1>
<input id="inputthingname" placeholder="Name">
<table class="table table-striped">
   <thead>
       <th>Thing Name</th>
   <th></th>
   </thead>
   <tbody id="thingtable">
   </tbody>
</table>

